@charset "UTF-8";
.promo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../assets/img/header-bg.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/header-bg.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/header-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/header-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .promo__bonus {
    font-size: 2rem;
    color: white;
    padding-left: 1.5rem; }
  .promo__image img {
    max-height: 500px; }
  @media (min-width: 1140px) {
    .promo {
      min-height: 100vh; } }
  @media (min-width: 992px) {
    .promo {
      background-attachment: fixed; } }
  .promo .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 2rem; }
    @media (min-width: 768px) {
      .promo .container {
        padding: 0 2rem;
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 0 5rem; }
        .promo .container .promo__image {
          grid-row: 1 / 3;
          grid-column: 2;
          max-height: 70rem; }
          .promo .container .promo__image img {
            max-height: auto;
            max-width: 100%; }
        .promo .container .promo__buttons {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
              -ms-flex-align: end;
                  align-items: flex-end; }
          .promo .container .promo__buttons a {
            height: 5.5rem;
            line-height: 5rem;
            border-radius: 27px;
            margin: 0 2rem 0 0; }
        .promo .container .promo__text {
          margin: 0; }
          .promo .container .promo__text h1 {
            font-size: 6rem; }
          .promo .container .promo__text h2 {
            font-size: 2.4rem; }
        .promo .container .promo-counter {
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          font-size: 5rem; }
          .promo .container .promo-counter div:after {
            top: 65px; }
        .promo .container .promo__info {
          padding-bottom: 6rem; }
        .promo .container .promo__text {
          padding-top: 6rem; } }
    @media (min-width: 992px) {
      .promo .container {
        grid-template-columns: 3fr 2fr; } }
  .promo__header {
    margin: 0;
    color: white;
    padding: 5rem 1rem; }
    .promo__header h1 {
      font-size: 3.6rem;
      font-weight: inherit;
      margin-bottom: 1.5rem; }
    .promo__header h2 {
      font-size: 1.8rem;
      font-weight: lighter;
      width: 90%; }

.promo-counter {
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
  font-size: 4rem; }
  .promo-counter div {
    position: relative;
    padding: 0 1rem; }
  .promo-counter div:after {
    top: 50px;
    left: 0;
    position: absolute;
    font-size: 1.4rem;
    text-align: center;
    width: 100%; }
  .promo-counter__days:after {
    content: "Днів"; }
  .promo-counter__hours:after {
    content: "Годин"; }
  .promo-counter__minutes:after {
    content: "Хвилин"; }
  .promo-counter__seconds:after {
    content: "Секунд"; }

#cube-loader {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  #cube-loader .caption {
    margin: 0 auto; }
  #cube-loader .cube-loader {
    width: 73px;
    height: 73px;
    margin: 0 auto;
    margin-top: 49px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
         -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg); }
    #cube-loader .cube-loader .cube {
      position: relative;
      -webkit-transform: rotateZ(45deg);
           -o-transform: rotateZ(45deg);
              transform: rotateZ(45deg);
      width: 50%;
      height: 50%;
      float: left;
      -webkit-transform: scale(1.1);
           -o-transform: scale(1.1);
              transform: scale(1.1); }
    #cube-loader .cube-loader .cube:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #22B6EA;
      -webkit-animation: cube-loader 2.76s infinite linear both;
           -o-animation: cube-loader 2.76s infinite linear both;
              animation: cube-loader 2.76s infinite linear both;
      -webkit-transform-origin: 100% 100%;
           -o-transform-origin: 100% 100%;
              transform-origin: 100% 100%; }
    #cube-loader .cube-loader .loader-2 {
      -webkit-transform: scale(1.1) rotateZ(90deg);
           -o-transform: scale(1.1) rotateZ(90deg);
              transform: scale(1.1) rotateZ(90deg); }
    #cube-loader .cube-loader .loader-3 {
      -webkit-transform: scale(1.1) rotateZ(180deg);
           -o-transform: scale(1.1) rotateZ(180deg);
              transform: scale(1.1) rotateZ(180deg); }
    #cube-loader .cube-loader .loader-4 {
      -webkit-transform: scale(1.1) rotateZ(270deg);
           -o-transform: scale(1.1) rotateZ(270deg);
              transform: scale(1.1) rotateZ(270deg); }
    #cube-loader .cube-loader .loader-2:before {
      -webkit-animation-delay: 0.35s;
           -o-animation-delay: 0.35s;
              animation-delay: 0.35s; }
    #cube-loader .cube-loader .loader-3:before {
      -webkit-animation-delay: 0.69s;
           -o-animation-delay: 0.69s;
              animation-delay: 0.69s; }
    #cube-loader .cube-loader .loader-4:before {
      -webkit-animation-delay: 1.04s;
           -o-animation-delay: 1.04s;
              animation-delay: 1.04s; }

.loaded #cube-loader {
  display: none; }

.loading #cube-loader {
  opacity: 1;
  z-index: 10; }

.loading {
  overflow: hidden; }

@-webkit-keyframes cube-loader {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
            transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
            transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
            transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }

@-o-keyframes cube-loader {
  0%, 10% {
    transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }

@keyframes cube-loader {
  0%, 10% {
    -webkit-transform: perspective(136px) rotateX(-180deg);
            transform: perspective(136px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(136px) rotateX(0deg);
            transform: perspective(136px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(136px) rotateY(180deg);
            transform: perspective(136px) rotateY(180deg);
    opacity: 0; } }

@-webkit-keyframes loaderFadeOut {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    display: none; } }

@-o-keyframes loaderFadeOut {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    display: none; } }

@keyframes loaderFadeOut {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    display: none; } }

.btn--transparent {
  background-color: transparent;
  color: white;
  border: 2px solid #22B6EA;
  -webkit-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear; }
  @media (min-width: 992px) {
    .btn--transparent:hover {
      background-color: #22B6EA;
      color: #fff;
      -webkit-box-shadow: 0px 0px 5px #22B6EA;
              box-shadow: 0px 0px 5px #22B6EA; } }

.btn--highlited {
  background-color: #22B6EA;
  color: white;
  border: none;
  border: 2px solid #22B6EA; }
  .btn--highlited:hover {
    -webkit-box-shadow: 0px 0px 5px #22B6EA;
            box-shadow: 0px 0px 5px #22B6EA; }

.btn--primary {
  border-radius: 5px;
  width: 21rem;
  margin: 2rem auto; }

.btn--buy {
  width: 100%;
  background-color: black;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: white;
  font-weight: 800;
  height: 6rem;
  font-size: 1.6rem;
  margin: 1.5rem auto 0;
  border: none; }
  @media (min-width: 1140px) {
    .btn--buy:hover {
      background-color: transparent;
      border: 1px solid black;
      color: black; } }

.btn--buy-cart {
  width: 100%;
  background-color: #fff;
  color: black;
  height: 6rem;
  font-size: 1.6rem;
  font-weight: 800;
  border: 1px solid black;
  margin: 1.5rem auto 0;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  @media (min-width: 1140px) {
    .btn--buy-cart:hover {
      color: white;
      background-color: #000; } }

.btn-a {
  text-decoration: none;
  display: block;
  text-align: center;
  line-height: 48px;
  font-size: 1.6rem; }

.btn {
  height: 5rem;
  font-size: 1.6rem;
  outline: none;
  cursor: pointer; }

.btn--center {
  margin: 2rem auto; }

.btn--black-text {
  color: #000; }

.btn-bonus {
  display: none; }

.promo {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../assets/img/header-bg.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/header-bg.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/header-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/img/header-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .promo__bonus {
    font-size: 2rem;
    color: white;
    padding-left: 1.5rem; }
  .promo__image img {
    max-height: 500px; }
  @media (min-width: 1140px) {
    .promo {
      min-height: 100vh; } }
  @media (min-width: 992px) {
    .promo {
      background-attachment: fixed; } }
  .promo .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    padding: 0 2rem; }
    @media (min-width: 768px) {
      .promo .container {
        padding: 0 2rem;
        display: grid;
        grid-template-columns: 60% 40%;
        padding: 0 5rem; }
        .promo .container .promo__image {
          grid-row: 1 / 3;
          grid-column: 2;
          max-height: 70rem; }
          .promo .container .promo__image img {
            max-height: auto;
            max-width: 100%; }
        .promo .container .promo__buttons {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
              -ms-flex-align: end;
                  align-items: flex-end; }
          .promo .container .promo__buttons a {
            height: 5.5rem;
            line-height: 5rem;
            border-radius: 27px;
            margin: 0 2rem 0 0; }
        .promo .container .promo__text {
          margin: 0; }
          .promo .container .promo__text h1 {
            font-size: 6rem; }
          .promo .container .promo__text h2 {
            font-size: 2.4rem; }
        .promo .container .promo-counter {
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          font-size: 5rem; }
          .promo .container .promo-counter div:after {
            top: 65px; }
        .promo .container .promo__info {
          padding-bottom: 6rem; }
        .promo .container .promo__text {
          padding-top: 6rem; } }
    @media (min-width: 992px) {
      .promo .container {
        grid-template-columns: 3fr 2fr; } }
  .promo__header {
    margin: 0;
    color: white;
    padding: 5rem 1rem; }
    .promo__header h1 {
      font-size: 3.6rem;
      font-weight: inherit;
      margin-bottom: 1.5rem; }
    .promo__header h2 {
      font-size: 1.8rem;
      font-weight: lighter;
      width: 90%; }

.promo-counter {
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
  font-size: 4rem; }
  .promo-counter div {
    position: relative;
    padding: 0 1rem; }
  .promo-counter div:after {
    top: 50px;
    left: 0;
    position: absolute;
    font-size: 1.4rem;
    text-align: center;
    width: 100%; }
  .promo-counter__days:after {
    content: "Днів"; }
  .promo-counter__hours:after {
    content: "Годин"; }
  .promo-counter__minutes:after {
    content: "Хвилин"; }
  .promo-counter__seconds:after {
    content: "Секунд"; }

.header {
  height: 5rem;
  top: 0;
  display: block;
  width: 100%;
  background-color: #F0F0F0;
  z-index: 5; }
  .header.sticky {
    position: fixed;
    background-color: #f0f0f0; }
  .header .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2rem;
    height: 100%; }
  .header__logo {
    font-size: 1.6rem;
    font-weight: bold; }
    .header__logo a {
      color: black;
      text-decoration: none; }

.header-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #22B6EA; }

.burger {
  margin-left: 2rem;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  opacity: 1; }
  .burger__span {
    height: 2px;
    width: 100%;
    background-color: #000;
    display: block;
    margin: 6px 0;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in; }
    .burger__span:before, .burger__span:after {
      content: "";
      height: 2px;
      width: 30px;
      background-color: #000;
      display: block;
      position: absolute;
      opacity: 1; }
    .burger__span:before {
      -webkit-transition: -webkit-transform .2s ease-in;
      transition: -webkit-transform .2s ease-in;
      -o-transition: -o-transform .2s ease-in;
      transition: transform .2s ease-in;
      transition: transform .2s ease-in, -webkit-transform .2s ease-in, -o-transform .2s ease-in;
      margin-top: -7px; }
    .burger__span:after {
      -webkit-transition: -webkit-transform .2s ease-in;
      transition: -webkit-transform .2s ease-in;
      -o-transition: -o-transform .2s ease-in;
      transition: transform .2s ease-in;
      transition: transform .2s ease-in, -webkit-transform .2s ease-in, -o-transform .2s ease-in;
      margin-top: 7px; }

.cart-icon a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 992px) {
    .cart-icon a {
      height: 60px;
      padding: 0 1.5rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: 0;
      -webkit-transition: background-color .2s linear;
      -o-transition: background-color .2s linear;
      transition: background-color .2s linear; }
      .cart-icon a:hover {
        background-color: #22B6EA; }
        .cart-icon a:hover svg path {
          fill: white; }
      .cart-icon a svg path {
        -webkit-transition: fill .2s linear;
        -o-transition: fill .2s linear;
        transition: fill .2s linear;
        background-color: #22B6EA;
        fill: black; } }

.cart-icon__count {
  position: absolute;
  background-color: red;
  margin-left: 23px;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
  -webkit-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: -o-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear, -o-transform .2s linear;
  font-size: .9rem; }
  .cart-icon__count:empty {
    -webkit-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0); }
  @media (min-width: 992px) {
    .cart-icon__count {
      margin-top: 15px;
      margin-left: 35px; } }

.brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  @media (min-width: 992px) {
    .brands {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      padding: 0 5rem; }
      .brands .brands__item {
        height: 10rem; }
        .brands .brands__item img {
          max-width: auto;
          width: 100px; }
        .brands .brands__item:last-child {
          display: none; } }

.brands__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem; }
  .brands__item img {
    height: 5rem;
    width: 5rem;
    -o-object-fit: contain;
       object-fit: contain; }
    @media (min-width: 576px) {
      .brands__item img {
        height: 7.5rem;
        width: 7.5rem; } }

.splash {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 3rem;
  cursor: pointer; }
  .splash img {
    max-width: 100%; }

.video-btn {
  height: 50px;
  width: 45px;
  z-index: 3;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: absolute;
  border-style: solid;
  border-width: 25px 0px 25px 45px;
  border-color: transparent transparent transparent #fff; }

@media (min-width: 768px) {
  .how-to {
    background-color: #fff; }
    .how-to .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      grid-column-gap: 5rem; }
      .how-to .content .main-header {
        padding: 0; }
      .how-to .content .splash {
        grid-row: 1/3;
        grid-column: 2; } }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 60rem; }

.input {
  width: 100%;
  height: 5.5rem;
  border-radius: 5px;
  border: 1px solid #868686;
  outline: none;
  padding: 1.3rem 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.1rem;
  -webkit-box-shadow: 0 0 1px #22B6EA;
          box-shadow: 0 0 1px #22B6EA;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  .input:focus {
    border: 2px solid #22B6EA;
    -webkit-box-shadow: 0 0 5px #22B6EA;
            box-shadow: 0 0 5px #22B6EA; }
  .input::-webkit-input-placeholder {
    color: #ADADAD;
    -webkit-transition: color .3s linear, font-size .2s linear;
    -o-transition: color .3s linear, font-size .2s linear;
    transition: color .3s linear, font-size .2s linear; }
  .input::-moz-placeholder {
    color: #ADADAD;
    -webkit-transition: color .3s linear, font-size .2s linear;
    -o-transition: color .3s linear, font-size .2s linear;
    transition: color .3s linear, font-size .2s linear; }
  .input::-ms-input-placeholder {
    color: #ADADAD;
    -webkit-transition: color .3s linear, font-size .2s linear;
    -o-transition: color .3s linear, font-size .2s linear;
    transition: color .3s linear, font-size .2s linear; }
  .input::placeholder {
    color: #ADADAD;
    -webkit-transition: color .3s linear, font-size .2s linear;
    -o-transition: color .3s linear, font-size .2s linear;
    transition: color .3s linear, font-size .2s linear; }
  .input:focus::-webkit-input-placeholder {
    color: transparent;
    font-size: 1px; }
  .input:focus::-moz-placeholder {
    color: transparent;
    font-size: 1px; }
  .input:focus::-ms-input-placeholder {
    color: transparent;
    font-size: 1px; }
  .input:focus::placeholder {
    color: transparent;
    font-size: 1px; }

.check-form__label {
  font-size: 1.2rem;
  color: #868686;
  margin-bottom: .5rem;
  padding-left: 5px; }
  @media (min-width: 992px) {
    .check-form__label {
      font-size: 1.4rem; } }

@media (min-width: 576px) {
  .check .container, .order .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem; }
    .check .container .main-header, .order .container .main-header {
      padding: 0 0 2rem; }
    .check .container .content, .order .container .content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.props-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  @media (min-width: 768px) {
    .props-items {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 3rem;
      padding: 0 1rem; }
      .props-items .props-item__title {
        font-size: 2rem; }
      .props-items .props-item__text {
        font-size: 1.4rem; } }
  @media (min-width: 992px) {
    .props-items {
      padding: 0 5rem; } }

.props-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1.5rem 1rem;
  max-width: 24rem;
  margin: 0 auto; }
  .props-item .props-item__image {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    -webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .props-item h3 {
    font-weight: bold;
    font-size: 1.6rem;
    margin: .5rem auto; }
  .props-item p {
    font-size: 1.2rem;
    padding: 0 1rem; }

.order-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 2rem;
  max-width: 40rem;
  margin: auto; }
  .order-item__icon {
    margin: auto 2rem auto 0; }
  .order-item__text h3 {
    font-size: 1.8rem;
    font-weight: bold; }
  .order-item__text p {
    font-size: 1.2rem; }

@media (min-width: 992px) {
  .order-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 2rem; }
    .order-items .order-item {
      max-width: 45rem; } }

.order-name {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 1rem; }

.order-text {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 1rem; }

.price {
  font-size: 2.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .price__current {
    font-weight: bold;
    margin-right: 1rem; }
  .price__old {
    color: #ADADAD;
    text-decoration: line-through; }

.buy__item {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin: 3rem auto;
  background-color: #fff; }
  .buy__item-img img {
    width: 100%; }
  .buy__item-content {
    padding: 0 1.5rem 1.5rem; }

@media (min-width: 576px) {
  .buy {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 0rem; }
    .buy__item {
      margin: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .buy__item-img img {
        width: 100%; } }

@media (min-width: 768px) {
  .buy {
    grid-gap: 3rem;
    padding: 0 5rem; } }

@media (min-width: 1140px) {
  .buy {
    grid-gap: 8rem;
    padding: 0 8rem; } }

.section-delivery {
  background-image: url("../assets/img/delivery-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.delivery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.delivery-item {
  margin: 3rem auto;
  max-width: 400px; }

.delivery-item__image {
  text-align: center; }

.delivery-item__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }
  .delivery-item__text h6 {
    font-size: 2.4rem;
    margin: 1rem auto; }
  .delivery-item__text p {
    font-size: 1.4rem; }

.faq__item {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 1rem 1.5rem;
  background: #fff;
  max-width: 70rem;
  margin: 2rem auto; }
  .faq__item summary {
    background: #fff;
    outline: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    cursor: pointer; }
    .faq__item summary::-webkit-details-marker {
      display: none; }
    .faq__item summary:after {
      background: url("../assets/icons/arrow.svg");
      height: 32px;
      width: 32px;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      margin-left: 1rem;
      content: "";
      -webkit-transition: -webkit-transform .25s linear;
      transition: -webkit-transform .25s linear;
      -o-transition: -o-transform .25s linear;
      transition: transform .25s linear;
      transition: transform .25s linear, -webkit-transform .25s linear, -o-transform .25s linear;
      -webkit-transform: rotate(0deg);
           -o-transform: rotate(0deg);
              transform: rotate(0deg); }
    @media (min-width: 992px) {
      .faq__item summary {
        font-size: 1.8rem; } }
  .faq__item[open] summary:after {
    -webkit-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg); }
  .faq__item p {
    -webkit-animation-name: invisiblyGrowFontSize, linear;
         -o-animation-name: invisiblyGrowFontSize, linear;
            animation-name: invisiblyGrowFontSize, linear;
    -webkit-animation-duration: 250ms, 200ms;
         -o-animation-duration: 250ms, 200ms;
            animation-duration: 250ms, 200ms;
    -webkit-animation-delay: 0ms, 500ms;
         -o-animation-delay: 0ms, 500ms;
            animation-delay: 0ms, 500ms;
    font-size: 1.2rem;
    padding: 1rem 0 0; }
    @media (min-width: 992px) {
      .faq__item p {
        font-size: 1.5rem; } }

@-webkit-keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0; }
  100% {
    font-size: 1.2rem;
    opacity: 0; } }

@-o-keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0; }
  100% {
    font-size: 1.2rem;
    opacity: 0; } }

@keyframes invisiblyGrowFontSize {
  0% {
    font-size: 0;
    opacity: 0; }
  100% {
    font-size: 1.2rem;
    opacity: 0; } }

.section--comments {
  background-image: url("../assets/img/comments-bg.jpg");
  background-position: center;
  -webkit-background-size: cover;
          background-size: cover; }

.slick-list.draggable {
  width: 100%; }

.comments-wrapper {
  overflow-x: visible; }
  .comments-wrapper .slick-dots {
    padding: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style-type: none; }
    .comments-wrapper .slick-dots li {
      margin: auto 1rem; }
      .comments-wrapper .slick-dots li button {
        font-size: 0px;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        border: 1px solid white;
        background: transparent;
        -webkit-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        transition: all .2s ease-in;
        outline: none;
        cursor: pointer; }
        .comments-wrapper .slick-dots li button:hover {
          background: #fff;
          -webkit-transform: scale(1.5);
               -o-transform: scale(1.5);
                  transform: scale(1.5); }
      .comments-wrapper .slick-dots li.slick-active button {
        background: #fff;
        -webkit-transform: scale(1.2);
             -o-transform: scale(1.2);
                transform: scale(1.2); }

.comment {
  background-color: #fff;
  color: black;
  padding: 5rem 3rem;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  margin: auto 2rem;
  outline: none;
  cursor: pointer; }
  .comment__text {
    font-size: 1.6rem; }
  .comment__author {
    margin: 5rem auto 0; }
    .comment__author img {
      margin: auto; }
  .comment p {
    font-size: 2.2rem; }

.links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .links__item {
    margin: auto 2rem;
    border: 1px solid #22B6EA;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

.footer .container {
  padding: 3rem; }

.copyright {
  text-align: center;
  font-size: 1.6rem;
  margin-top: 2rem; }

.order--footer .order-form {
  max-width: 50rem;
  margin: auto; }

.crush-items {
  list-style-type: none; }

.crush-item {
  font-size: 1.6rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
  padding: 0 1rem; }
  .crush-item:before {
    content: "";
    width: 32px;
    height: 32px;
    background: url("../assets/icons/yes.svg");
    -webkit-background-size: contain;
            background-size: contain;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin: -5px 1rem 0 0; }

@media (min-width: 768px) {
  .crush .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .crush .content .main-header {
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
      grid-column: 1/3; }
  .crush .crush-items-wrapper {
    grid-template-columns: 2 / 3; }
  .crush .splash {
    -webkit-box-ordinal-group: 5;
    -webkit-order: 4;
        -ms-flex-order: 4;
            order: 4;
    margin-bottom: 0; } }

@media (min-width: 992px) {
  .crush .crush-item {
    font-size: 2.2rem; }
    .crush .crush-item:before {
      margin-right: 3rem;
      height: 4rem;
      width: 4rem; } }

.popup {
  position: fixed;
  top: 0;
  z-index: 7;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0; }
  @media (min-width: 992px) {
    .popup {
      -webkit-backdrop-filter: blur(5px);
              backdrop-filter: blur(5px); } }
  .popup .container {
    padding: 35px 2rem;
    max-height: calc(100vh - 30px); }
  .popup-close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 25px;
    width: 25px;
    color: white;
    cursor: pointer; }
    .popup-close__span {
      height: 2px;
      width: 100%;
      background-color: #000;
      display: block;
      margin: 6px 0;
      -webkit-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      transition: all .2s ease-in; }
      .popup-close__span:before, .popup-close__span:after {
        content: "";
        height: 2px;
        width: 30px;
        background-color: #fff;
        display: block;
        position: absolute;
        opacity: 1; }
      .popup-close__span:before {
        -webkit-transition: -webkit-transform .2s ease-in;
        transition: -webkit-transform .2s ease-in;
        -o-transition: -o-transform .2s ease-in;
        transition: transform .2s ease-in;
        transition: transform .2s ease-in, -webkit-transform .2s ease-in, -o-transform .2s ease-in;
        margin-top: -7px; }
      .popup-close__span:after {
        -webkit-transition: -webkit-transform .2s ease-in;
        transition: -webkit-transform .2s ease-in;
        -o-transition: -o-transform .2s ease-in;
        transition: transform .2s ease-in;
        transition: transform .2s ease-in, -webkit-transform .2s ease-in, -o-transform .2s ease-in;
        margin-top: 7px; }
    .popup-close span {
      width: 0; }
      .popup-close span:before {
        -webkit-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
        margin-top: 0; }
      .popup-close span:after {
        -webkit-transform: rotate(45deg);
             -o-transform: rotate(45deg);
                transform: rotate(45deg);
        margin-top: 0; }
  .popup .content {
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    position: relative;
    max-width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-bottom: 56.25%;
    /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 0;
    overflow: hidden; }
  .popup iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 50px); }

.cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 70rem; }

.section-cart .content, .section-checkout .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(100vh - 160px); }
  @media (min-width: 992px) {
    .section-cart .content, .section-checkout .content {
      min-height: 80vh; } }

.cart-items, .cart {
  width: 100%; }

.cart-item {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 2rem 0;
  margin: 0 auto 2rem;
  border-bottom: 1px solid #868686;
  /* Firefox */ }
  .cart-item__buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .cart-item__img {
    height: 6rem;
    width: 6rem;
    float: left; }
  .cart-item__name {
    font-size: 1.6rem;
    padding: 0 1rem;
    float: left;
    width: 100%; }
  .cart-item__quantity, .cart-item__price, .cart-item__remove {
    font-size: 1.4rem;
    line-height: 2.5rem;
    border-radius: 3px;
    border: 1px solid black;
    padding: 0 .5rem;
    min-height: 2.5rem;
    margin-right: .5rem;
    width: auto;
    font-weight: bold;
    outline: none;
    background-color: #fff;
    text-align: center; }
  .cart-item__remove {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 2.5rem;
    background: url("../assets/icons/close.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer; }
  .cart-item__quantity {
    max-width: 55px;
    padding: 0;
    text-align: center; }
  .cart-item input::-webkit-outer-spin-button,
  .cart-item input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  .cart-item input[type=number] {
    -moz-appearance: textfield; }
  @media (max-width: 576px) {
    .cart-item {
      width: auto;
      max-width: 30rem;
      display: grid;
      grid-template-columns: 6rem 1fr;
      grid-column-gap: 2rem; }
      .cart-item__img {
        -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
                align-self: flex-start;
        grid-row: 1 / 3; }
      .cart-item__name {
        padding: 0;
        width: auto;
        max-width: auto;
        -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
                align-self: flex-start;
        float: left; }
      .cart-item__buttons {
        -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
                align-self: flex-end;
        float: left; } }

.quantity {
  height: 25px;
  width: 25px;
  text-align: center; }

.number-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: .5rem;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center; }

.minus, .plus {
  height: 25px;
  width: 20px;
  text-align: center;
  cursor: pointer; }

.minus, .plus, .quantity {
  border-radius: 0;
  border: none;
  background-color: white;
  font-weight: bold;
  font-size: 1.4rem;
  outline: none; }

.cart-total {
  font-size: 1.8rem;
  margin-bottom: 2rem; }
  .cart-total span {
    font-weight: bold; }
  @media (max-width: 576px) {
    .cart-total {
      text-align: center; } }

.cart-is-empty {
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto 2rem; }

.item-in-cart {
  display: grid;
  grid-template-columns: 50px 1fr;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  margin-right: 2rem; }
  .item-in-cart__img {
    height: 50px;
    width: 50px;
    grid-row: 1 / 3; }
    .item-in-cart__img img {
      max-height: 100%; }
  .item-in-cart__title {
    font-weight: bold; }

.total-price {
  font-size: 1.6rem;
  margin: 2rem auto 2rem 0; }

.order-page .items-in-cart {
  max-width: 32rem;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: .5rem; }
  .order-page .items-in-cart span {
    font-weight: bold; }

.order-details {
  font-size: 1.6rem;
  margin: 0 auto 2rem;
  padding-left: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .order-details div {
    min-width: 32rem;
    padding-left: 3.3rem;
    margin-bottom: 1rem; }
  .order-details__label {
    color: #ADADAD;
    font-size: 1.4rem; }
  .order-details__text {
    font-weight: bold; }
  @media (min-width: 576px) {
    .order-details {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 5.5rem; } }

.total-price p {
  text-align: center; }

.input--textarea {
  width: 100%;
  resize: none;
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background-color: #F0F0F0; }
  .input--textarea:focus {
    height: 400px;
    background-color: #fff; }
  .input--textarea:not([data-val=""]) {
    background-color: #fff; }

.input-required {
  color: red;
  font-size: 100%;
  vertical-align: top;
  padding: 0 1px; }

.input-select[value=''] {
  background-color: black; }

.input {
  background-color: #fff;
  padding: 0 1.5rem; }
  .input:disabled {
    border: lightgray 1px solid;
    opacity: 0.7;
    color: #ADADAD;
    background: #F0F0F0; }

select.input {
  padding-right: 5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("../assets/icons/arrow.svg") no-repeat right white;
  background-position: calc(100% - 15px) 1.1rem; }

textarea.input {
  padding: 1.2rem 1.5rem; }

.cities {
  position: relative;
  background-color: #fff;
  z-index: 6; }
  .cities ul {
    z-index: 5;
    top: 5.5rem;
    background-color: #fff;
    width: 100%;
    position: absolute;
    border-radius: 0px 0px 5px 5px;
    border: #22B6EA 2px solid;
    -webkit-box-shadow: 2px 2px 2.5px rgba(34, 182, 234, 0.5), -2px 2px 2.5px rgba(34, 182, 234, 0.5);
            box-shadow: 2px 2px 2.5px rgba(34, 182, 234, 0.5), -2px 2px 2.5px rgba(34, 182, 234, 0.5);
    border-top: none;
    visibility: hidden;
    list-style-type: none; }
    .cities ul li {
      margin: .5rem auto;
      font-size: 1.4rem;
      padding: .5rem 1.5rem;
      cursor: pointer; }

.cities-list:empty {
  display: none; }

.animate-right, .animate-zoom, .animate-left, .animate-bottom {
  visibility: hidden; }

.animate__fadeInRight, .animate__zoomIn, .animate__fadeInLeft, .animate__fadeInDown {
  visibility: visible; }

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

body {
  overflow-x: hidden; }
  body.scroll-lock {
    overflow-y: hidden; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.js-disabled {
  height: 100vh;
  width: 100%;
  background-color: #fff;
  color: black;
  z-index: 1000;
  position: fixed;
  font-size: 2rem; }

.wrapper {
  overflow: hidden;
  width: 100%; }

.container {
  margin: auto;
  padding-bottom: 3rem;
  width: 100%;
  max-width: 1170px; }
  @media (min-width: 768px) {
    .container {
      padding: 5rem 0; } }
  @media (min-width: 1140px) {
    .container {
      padding: 5rem; } }

.content {
  padding: 0 2rem; }

.main-header {
  font: 2.6rem "Lato", sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5rem 1rem 3rem; }
  .main-header--space {
    padding-top: 10rem; }
  @media (min-width: 992px) {
    .main-header {
      padding: 10rem 1rem; } }
  @media (min-width: 768px) {
    .main-header {
      padding: 5rem 1rem; } }
  @media (min-width: 1140px) {
    .main-header {
      padding: 10rem 1rem;
      font-size: 3.6rem; } }

.sub-header {
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  padding-bottom: 2rem; }
  @media (min-width: 992px) {
    .sub-header {
      font-size: 2rem; } }

.header-image {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header-image img {
    display: block;
    width: 100%;
    max-width: 400px; }

.highlited-text {
  color: #22B6EA;
  font-weight: 600; }

.section--black {
  background-color: #1F1F1F;
  color: white; }

.section--grey {
  background-color: #F0F0F0; }

.section__darken {
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.8); }
  .section__darken--60 {
    background-color: rgba(0, 0, 0, 0.6); }
  .section__darken--grey {
    background-color: rgba(31, 31, 31, 0.6); }

.to-animate {
  opacity: 0; }

:root {
  --duration: 1.5s;
  --container-size: 250px;
  --box-size: 33px;
  --box-border-radius: 15%; }

@media (min-width: 961px) {
  .btn--form {
    width: 100%; }
  .burger {
    display: none; }
  .social-links {
    display: none; }
  .header {
    height: 6rem; }
  .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    font-size: 1.6rem; }
    .nav li img {
      display: none; }
    .nav li a {
      text-decoration: none;
      color: black;
      height: 60px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 2rem;
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
    .nav li a:hover {
      color: white;
      background-color: #22B6EA;
      height: 100%;
      width: 100%; }
  .header-image img {
    width: 100%; }
  .props-items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10rem;
    grid-row-gap: 5rem; }
    .props-items .props-item__title {
      font-size: 2rem; }
    .props-items .props-item__text {
      font-size: 1.4rem; }
  .delivery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem; }
    .delivery-item {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      height: 100%; } }

@media (max-width: 960px) {
  .navigation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    z-index: 6;
    top: 0px;
    left: -100%;
    margin-right: 0;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    opacity: 0; }
    .navigation--open {
      left: 0;
      opacity: 1; }
    .navigation .nav {
      list-style-type: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: left;
      width: 300px;
      height: 100%;
      font-size: 2rem;
      background-color: #22B6EA;
      overflow-y: auto;
      padding: 2rem 0; }
      .navigation .nav li {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        width: auto;
        margin: .5rem 0 .5rem 2rem; }
        .navigation .nav li img {
          height: 20px;
          width: 20px;
          margin-right: 2rem; }
        .navigation .nav li a {
          display: block;
          color: white;
          text-decoration: none;
          padding: 2rem 0;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content; }
        .navigation .nav li:last-child {
          display: none;
          margin-top: 2rem; }
          .navigation .nav li:last-child a {
            border-bottom: none;
            padding: 0; }
  .burger--open {
    position: fixed;
    top: 1rem;
    right: 2rem;
    z-index: 7; }
    .burger--open span {
      width: 0; }
      .burger--open span:before {
        -webkit-transform: rotate(-45deg);
             -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
        margin-top: 0;
        background-color: white; }
      .burger--open span:after {
        -webkit-transform: rotate(45deg);
             -o-transform: rotate(45deg);
                transform: rotate(45deg);
        margin-top: 0;
        background-color: white; } }

/*# sourceMappingURL=style.css.map */
