.form {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
}
.input {
  width: 100%;
  height: 5.5rem;
  border-radius: 5px;
  border: 1px solid $grey-for-border;
  outline: none;
  padding: 1.3rem 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.1rem;
  box-shadow: 0 0 1px $primary;
  transition: all 0.1s ease-in-out;
  -webkit-appearance: none;
  &:focus {
    border: 2px solid $primary;
    box-shadow: 0 0 5px $primary;
  }
  &::placeholder {
    color: $grey-for-text;
    transition: color .3s linear, font-size .2s linear;
  }
  &:focus::placeholder {
    color: transparent;
    font-size: 1px;
  }
}
.check-form__label {
  font-size: 1.2rem;
  color: $grey-for-border;
  margin-bottom: .5rem;
  padding-left: 5px;
  @include breakpoint($tabled-bp) {
    font-size: 1.4rem;
  }
}
.check .container, .order .container {
  @include breakpoint($small-bp) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    .main-header {
      padding: 0 0 2rem;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
