.brands {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @include breakpoint($tabled-bp) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 5rem;
    .brands__item {
      height: 10rem;
      img {
        width: auto;
        height: auto;
      }
    }
  }
}
.brands__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  img {
    height: 5rem;
    width: 5rem;
    object-fit: contain;
    @include breakpoint($small-bp) {
      height: 7.5rem;
      width: 7.5rem;
    }
  }
}
