$primary: #22B6EA;
$black: #000;
$light-grey: #ADADAD;
$grey-for-text: #ADADAD;
$grey-for-border: #868686;
$grey-for-background: #F0F0F0;
$dark: #1F1F1F;
$pc-bp: 1140px;
$medium-bp: 768px;
$tabled-bp: 992px;
$small-bp: 576px;
